// Scss Document //

// ============================================= 
//                  Variables                    
// ============================================= //

//---------- Descriptive Colors ----------//

$white				  : #fff;
$black                : #000;
$gray                 : #4d4d4d;
$light-gray			  : #FDFDFD;
$main-purple		  : #7477bf;
$dark-purple		  : #4d4c72;
$bright-green		  : #75f56e;

////----------- Functional Colors ----------//

$primary-color        : $main-purple;
$secondary-color      : $dark-purple;

$font-color-dark      : $gray;
$font-color-light	  : $white;

$alert-color		  : $bright-green;

$border-color		  : #E8E8E8;

////----------- Padding / Margin ----------//
//
//$std-padding          :
//$std-margin           : 

// ------------ Break Points ------------//

$breakpoint: (
	'iphone5'           : 350px,
	'social-container'  : 485px,
	'social-icon'	    : 650px,
	'tablet'            : 768px,
	'laptop'            : 1024px,
	'max-content-width' : 1100px,
);
