/* Scss Document */

/* ============================================= */
/*              Containers                       */
/* ============================================= */

canvas {
	width: 100%;
}
main h2 {
	margin-bottom: .5em;
	font-size: 1.2em;
}

canvas {
	padding: 0 7px 10px;
}

/* --------------------------------------------
				Dashboard Header
-----------------------------------------------*/
#dashboard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	h1 {
		display: inline-block;
		padding: 0 2px;
		margin: 5px 5px 5px 5px;
		font-size: 1.3em;
		width: 140px;
	}
	div {
		width: 100%;
		background-color: $light-gray;
		border-bottom: solid $border-color 0.5px;
		border-left: solid $border-color 0.5px;
		text-align: end;
		border-radius: 2px;
	}
	input {
		border-radius: 3px;
		border: solid 1px $border-color;
		margin: 5px;
		padding: 3px 4px;
		width: 94%;
		@include mq(iphone5) {
			width: 202px;
			margin: 5px 1em 5px 5px;
		}
		placeholder {
			padding-left: 4px;
			text-transform: capitalize;
			font-size: .4em;
		}
		
	}
}

/* --------------------------------------------
				Traffic Container
-----------------------------------------------*/

#traffic-data-heading {
    display: flex;
    justify-content: space-between;
	align-items: center;
    div {
        display: flex;
        justify-content: space-around;
		align-items: center;
        margin-right: 1em;
    }
    h3 {
        margin-left: 7px;
		font-size: 1em;
		margin: 0;
		padding: 5px 10px;
    }
}

.traffic-button-focus {
	color: $white;
	background-color: #81c98f;
	border-radius: 20px;
}

/* --------------------------------------------
				Social Stats
-----------------------------------------------*/

#social-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 1.8em;
	border-bottom: solid $border-color 0.5px;
	h2 {
		flex-basis: 100%;
	}
}

.social-stats-container {
	width: 80%;
	height: 70px;
	background-color: $light-gray;
	border: solid $border-color 0.5px;
	border-radius: 5px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	@include mq(social-container) {
		width: 32%;
		margin: auto;
	}
	> div {
		margin: auto;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mq(social-container) {
			width: 170px;
			display: block;
		}
	}
}

.social-icon {
  background-color: $primary-color;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  @include mq(social-container) {
    display: none;
  }
  @include mq(social-icon) {
    display: flex;
  }
  img {
    width: 60%;
    color: $white;
  }
}
.social-number {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    padding-left: 10px;
    font-size: 1.8em;
	color: $font-color-dark;
}
.social-heading {
    color: $primary-color;
    font-weight: 600;
    padding-left: 10px;
    display: inline-block;
    @include mq(social-container) {
        width: calc(100% - 48px);
    }
}

/* --------------------------------------------
				New Members + Recent Activity
-----------------------------------------------*/

.contact-info {
	width: 80%;
	display: flex;
	justify-content: left;
	align-items: center;
}

.new-members,
.recent-activity {
	width: 96%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding: 3px 0 6px;
	&:not(:last-child) { 
		border-bottom: solid $border-color 0.5px;
	}
	p {
		margin: 0 7px;
		span {
			font-size: 0.85em;
		}
	}
}

.recent-activity-icon {
	width: 1em;
	height: 1em;
}

/* --------------------------------------------
				Dashboard Settings
-----------------------------------------------*/

#dashboard-settings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	form {
		flex-grow: 2;
    	display: flex;
    	flex-wrap: wrap;
   		align-items: flex-end;
	}
}


/* --------------------------------------------
				Container Borders
-----------------------------------------------*/

#new-member-dashboard,
#message-users-form,
#daily-traffic-data {
	@include mq(tablet) {
		border-right: solid $border-color 0.5px;
		}
}

#new-member-dashboard,
#recent-activity-dashbaord,
#mobile-data,
#daily-traffic-data {
	border-bottom: solid $border-color 0.5px;
}

#mobile-data,
#daily-traffic-data {
	border-top: solid $border-color 0.5px;
}

