/* Scss Document */

/* ============================================= */
/*              Containers                       */
/* ============================================= */
body {
	width: 100%;
	display: grid;
	grid-template-columns: 65px 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas: 
		"header header"
		"main main";
	@include mq(tablet) {
	grid-template-areas: 
		"header header"
		"nav main"
	}
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	margin-bottom: 3em;
}


#traffic-data {
	#traffic-data-heading {
		display: flex;
		justify-content: space-between;
		div {
			display: flex;
			justify-content: space-around;
		}
	}
}

canvas {
	width: 100%;
	background-color: $primary-color;
}

#social-stats {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	div {
		display: flex;
		align-items: center;
	}
	h2 {
		flex-basis: 100%
	}
	.social-icon {
		background-color: $primary-color;
		border-radius: 50%;
		width: 3em;
		height: 3em;
		display: flex;
 		justify-content: center;
  		align-items: center;
		img {
			width: 60%;
			color: $white;
		}
	}
}

.contact-info {
	width: 80%
}

.new-members,
.recent-activity{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		float: left;
		clear: both;
	}
}

.recent-activity-icon {
	width: 1em;
	height: 1em;
}

#message-users-form form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#dashboard-settings {
	button {
		Width: 49%;
	}
	select {
		width: 90%;
		margin: auto;
		display: block;
	}
}

#dashboard-header {
	display: flex;
	justify-content: space-between;
	h1 {
		display: inline-block;
		padding: 0 2px;
		margin: 5px 5px 5px 5px;
		font-size: 1.5em;
	}
	div {
		width: 100%;
		background-color: $light-gray;
		border-bottom: solid $gray 0.5px;
		border-left: solid $gray 0.5px;
		text-align: end;
		border-radius: 2px;
	}
	input {
		border-radius: 3px;
		border: solid 1px $gray;
		margin: 5px 10px 5px 5px;
		padding: 2px 3px;
		placeholder {
			padding-left: 2px;
			text-transform: capitalize;
		}
		
	}
}


