/* Scss Document */

/* ============================================= */
/*              Navigation                       */
/* ============================================= */

nav {
	position: absolute;
	background-color: $secondary-color;
	color: $font-color-light;
	padding: 5px 0;
	top: 0px;
	border-radius: 0 0 10px 0;
	display: none;
	grid-area: nav;
	z-index: 20;
	@include mq(tablet) {
		display: block;
		position: inherit;
		padding: 0;
		border-radius: 0 0 0 0;
	}
	img {
		width: 30px;
		display: inline;
		cursor: pointer;
		@include mq(tablet) {
			width: 70%;
		}
	}
	h3 {
		margin: 0;
		font-size: .8em;
		display: inline;
		color: $font-color-light;
		cursor: pointer;
		@include mq(tablet) {
			display: none;
		}
	}
	div {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 5px 0;
		padding: 10px;
		border: 2px $secondary-color solid;
		border-radius: 0 10px 10px 0;
		width: 150px;
		@include mq(tablet) {
			width: 100%;
			margin: 13px auto;
		}
	}
	.nav-selected {
		border-left: solid 2.8px $alert-color;
		padding-left: 9.2px; 
		transition: 0.2s ease-in;
		@include mq(tablet) {
			border-left-width: 4px;
			padding-left: 8px; 
		}
	}
}

#nav-screen-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.41);
	z-index: 10;
	display: none;
}
