// Scss Document //

/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

html {
	min-width: 360px;
}

body {
	width: 100%;
}
