// Scss Document //

/* ============================================= */
/*              Typography                       */
/* ============================================= */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
span{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $font-color-dark;
}

#logo-app {
	font-weight: 100;
	font-size: 1.6em;
	display: inline-block;
}

#logo-your {
	font-weight: 900;
	font-size: 1.6em;
	display: inline-block;
	position: relative;
}

#logo-tm {
	font-weight: 300;
	font-size: .4em;
	padding-bottom: 60%;
	position: absolute;
}

p,
placeholder {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}

header p {
	letter-spacing: .2px;
}